@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: var(--primary-font);
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.new {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #444;
    margin-bottom: 20px;
}