<div>
    <label for="title">Título</label>
    <input type="text" id="title" [(ngModel)]="newNoticia.title"> 
</div>
<div>
    <label for="url">URL</label>
    <input type="text" id="url" [(ngModel)]="newNoticia.url"> 
</div>
<div>
    <label for="body">Cuerpo de Texto</label>
    <textarea id="body" [(ngModel)]="newNoticia.body" rows="4"></textarea>
</div>
<div>
    <label for="date">Fecha</label>
    <input type="date" id="date" [(ngModel)]="newNoticia.date">
</div>
<button class="btn" (click)="guardarNoticia()">Guardar Noticia</button>

